.statement-group div.page-header {
	margin-left: 15px;
	margin-right: 15px;
}

#statement-header ul {
	height: 80px;
}

.statement-group ul {
	list-style-type: none;
}

.statement-group ul li span {
	margin-bottom: 5px;
}

.statement-result {
	margin-bottom: 10px;
}

.statement-result div {
	margin: 0;
	height: 80px;
	text-align: center;
	font-weight: bold;
	font-size: large;
}

.tab-pane {
	padding-top: 5px;	
}

#thinking{
display: block;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1000;
padding: 27% 53%;
background: black;
opacity: 0.3;
}